[submodule "themes/hugo-theme-codex"]
	path = themes/hugo-theme-codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "public"]
	path = public
	url = https://github.com/SaturdayGenfo/saturdaygenfo.github.io.git
	branch = main
